extends layout

block content
  #streetsmartApi
  script(type='text/javascript').
    var $ = document.querySelector.bind(document);

    function openByQuery() {
        StreetSmartApi.open('#{query}', {
            viewerType: [StreetSmartApi.ViewerType.PANORAMA, StreetSmartApi.ViewerType.OBLIQUE],
            srs: 'EPSG:26918',
            closable: false,
            maximizable: false,
        })
        .catch(
            function(reason) {
                console.log('Failed to create component(s) through API: ' + reason);
            }
        )
    }

    window.onload = function() {
      StreetSmartApi.init({
          targetElement: $('#streetsmartApi'),
          username: '#{USERNAME}',
          password: '#{PASS}',
          apiKey: '#{APIKEY}',
          srs: 'EPSG:26918',
          locale: 'en-us',
      }).then(
          function() {
              console.log('Api: init: success!');
              openByQuery();
          },
          function(err) {
              console.log('Api: init: failed. Error: ', err);
          }
      );
    };
