doctype html
html
  head
    title= title
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react-dom.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/ol3/4.0.1/ol.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js')
    script(type='text/javascript', src='/javascripts/StreetSmartApi.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content